{% extends 'layout.html' %}

{% block body%}
<div id="site-content">
		
		<div class="content">

			<div class="hero fullwidth-block text-center primary-color">
				<div class="container">
					<h2 class="text-light wow fadeInUp">FutureSpec online stock prediction system<br>
						<strong>Bridging the Wall street divide</strong>
					</h2>
				</div>
			</div> <!-- End of .hero -->

			

			<div class="fullwidth-block secondary-color">
				<div class="container">
					<div class="row">
						<div class="col-sm-7">
							<h3>Our Vision</h3>
							<p>The FutureSpec project was creatd in order to bridge the gap between experienced
								 stock traders and ordinary people with an interest in stock trading essentially bridging the metaphorical Wall street divide.</p>

							<h3>Our Mission</h3>
							<p>We provide an easier way to make predictions than simple going with a gut feeling or having to spend a lot of time
								calculating manually. We believe in making prdictions from verifiable data rather that human opinion which can be biased, bought or simply uneducated. </p>
							<p>We are first and foremost dedicated to producing the best quality predictions in order to give the best possible advice we can
								to our users.
							</p>
						</div>
						
						<div class="col-sm-4 alignright">
							<div class="teams">
								<div class="person col-sm-12 col-xs-6 col-us wow fadeInUp" data-wow-duration=".5s" >
									<figure class="avatar">
										
                                         <img src="{{url_for('static',filename='images/dummy/person1.jpg', alt='John Simons')}}">
									</figure>
									<div class="person-detail">
										<h3 class="person-name">Joel John Otchere-Baffour</h3>
										<small class="person-title">CEO</small>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div> 
			</div> 
			
		</div>
		
	
{% endblock %} 

