{% extends 'layout.html' %} 

{% block body%}
<link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
            
            
          <div class="inner cover" style="padding:100px">
            <h1 class="cover-heading">Futurespec stock predictions</h1>
            <p class="lead">An intelligent system that predicts stock futures accurately</p>
            <p class="lead">
              <a href="/about/" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

         

        </div>

      </div>

    </div>
{% endblock %}